<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <!-- Premier container : titre + accroche -->
        <div class="card custom-gradient-card no-radius mb-2">
          <div class="card-header d-flex align-items-center justify-content-between">
            <h4 class="card-title mb-0" style="font-size: 1.8rem; font-weight: 700;">
              <span style="color: #0a3030;">Candid</span><span style="color: #039e87;">ature</span>
            </h4>
            <a (click)="navigateToHome()" class="icon-person" style="cursor:pointer;">
                    <mat-icon class="emoji-large">📤</mat-icon>
            </a>
          </div>
          <div class="card-subtitle px-3 py-1">
            <p>Cliquez sur l'icône à droite pour soumettre votre candidature et rejoindre nos opportunités !📝</p>
          </div>
        </div>

        <!-- Deuxième container : contenu + dates -->
        <div class="card custom-gradient-card no-radius">
          <div class="card-body">
          <div class="schedules-area py-1"> <!-- ou py-2 pour encore plus petit -->
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-xl-12 col-lg-10">
                    <div class="section-title text-center">
                      <p style="color: #000000; font-weight: 500;">
                        Vous avez la possibilité de postuler à toutes les offres publiées pendant nos événements.
                      </p>
                      <p style="color: #026661; ">
                        🔊 Veuillez noter que chaque événement est limité à 3 jours, après quoi les candidatures seront automatiquement clôturées.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="evt-tab-inner text-center">
                  <!-- Contenu additionnel à ajouter ici -->
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
