select.form-select-sm {
  font-size: 0.75rem;
  padding: 2px 8px;
  border-radius: 4px;
  background-color: #003f2f;
  color: white;
  border: 1px solid #ccc;
}
.statut-dropdown {
  font-size: 0.8rem;
  padding: 4px 12px;
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #888;
  border-radius: 4px;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg fill='white' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  text-align: center;
}


.edit-form {
  background-color: white !important;
  color: black !important;
  padding: 15px 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.edit-form label {
  font-weight: bold;
  color: black !important;
}
